@import "../../styles/variables";

.lot_histories {
  background: #fdfeff;
  flex-basis: 20vw;
  overflow: auto;
  border-left: 1px solid #e8e5ff;
  position: relative;

  .header {
    background: #fdfeff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }
}
