@import "./variables";
@import "./colors.scss";

.lot_auth_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .lot_banner {
    width: 50%;
    height: 100%;
    display: flex;
  }
  .lot_banner {
    background: linear-gradient(
        0deg,
        rgba(27, 39, 175, 0.9),
        rgba(27, 39, 175, 0.9)
      ),
      url("../images/bg_background.jpg");
    background-size: cover;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    img {
      width: 18.75rem;
      height: 6.25rem;
    }
    p {
      padding-top: 4.0625rem;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .lot_auth_container {
    .lot_banner {
      display: none;
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .lot_auth_container {
    .lot_banner {
      display: none;
    }
  }
}
