@import "./variables";
@import "./colors.scss";

.lot_tabs_with_bg {
  background-color: #ccd1ff34;
  .lot_tab_active {
    background-color: #ffffff !important;
    border-radius: 8px;
    font-weight: 600;
  }
}

.lot_tabs {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  border-radius: 8px;
}

.lot_btn {
  border-radius: 0.5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: none;
}

.lot_large_btn {
  padding: 1.5rem 8rem;
}

.lot_btn_primary_btn {
  background: $blueColor1 !important;
  color: $whiteColor7 !important;
  &:hover,
  &:focus,
  &:active {
    background: $blueColor3;
  }
}

.lot_link_btn {
  background: transparent !important;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  &:hover,
  &:focus,
  &:active {
    background: transparent !important;
  }
}

.blue_btn {
  color: $blueColor1 !important;
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 1000px;
}
