@import "../styles/colors.scss";

.overview_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .overview_card {
    background: $blueColor1;
    &:not(:last-child) {
      margin-right: 1rem;
    }
    padding: 1rem;
    width: 100%;
    background: #1b27af;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}

.lot_card_container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-shadow: 0px 3px 6px #98a4cb55;
  border: 1px solid #1b27af1c;
  border-radius: 8px;
  padding: 1rem;
}

.lot_card_container_50 {
  width: 50%;
}

.lot_card_heigt_50 {
  height: 60vh !important;
}
