$whiteColor1: #ffffff;
$whiteColor2: #fdfeff;
$whiteColor3: #e8e8e834;
$whiteColor4: #fcfdffa0;
$whiteColor5: #fcfdff47;
$whiteColor6: #fdfdfd;
$whiteColor7: #f5f5f5;

$greyColor1: #e8e5ff;
$greyColor2: #00000029;
$greyColor3: #707070;
$greyColor4: #d5d5d5;
$greyColor5: #cbcbcb;
$greyColor6: #c6c6c6;
$greyColor7: #3565d329;
$greyColor8: #0074890d;
$greyColor9: #77838f;
$greyColor10: #3946bd0f;
$greyColor11: #7070708b;
$greyColor11: #c5d9db;

$blueColor1: #1b27af;
$blueColor2: #0028af;
$blueColor3: #5760ac;

$darkColor: #001440;

$cyanColor: #00ffeb;

$blackColor1: #000000;
$blackColor2: #1e2022;
$blackColor3: #080000;

$greenColor: #1ab374;
