.lot_form_container {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  overflow: auto;
  padding: 4rem 6rem;

  .form_content {
    padding: 0 3rem;
    .lot_form_header {
      border-bottom: 1px solid #e0e0e0;
    }
  }
}

.lot_form {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  .lot_upload_container {
    background: #ffffff;
    .icon {
      color: #d0d0d0;
    }
  }
  .campany_logo {
    background: $blueColor1;
    color: #fff;
    .company_img {
      width: 100%;
      height: 100%;
      border-radius: 10000px;
    }
  }
  .lot_upload_container,
  .campany_logo {
    box-shadow: 0px 3px 6px #051d5329;
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    .camera {
      background: #ffffff;
      box-shadow: 0px 3px 6px #00000029;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.4rem;
      border-radius: 1000px;
      position: absolute;
      bottom: 10px;
      right: 0;
      .camera_icon {
        color: $blueColor1;
      }
    }
    .icon {
      font-size: 3rem;
    }
  }
  .ratings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
  }
}

.lot_multiple_table_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.8rem;
  .lot_flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
}

.ant-upload.ant-upload-select.ant-upload-select-picture-card {
  background: none !important;
  width: 100% !important;
  border: none !important;
}

@media (max-width: $breakpoint-small) {
  .lot_form_container {
    width: 100%;
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    .form_content {
      padding: 0 1rem;
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .lot_form_container {
    width: 100%;
    padding: 0.8rem;
    justify-content: center;
    align-items: center;
    .form_content {
      padding: 0 1rem;
    }
  }
}
