@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "../fonts/style.css";
@import "./variables";
@import "./colors.scss";
@import "./typography.scss";
@import "./paddings.scss";
@import "./margins.scss";
@import "./inputs.scss";
@import "./forms.scss";
@import "./buttons.scss";
@import "./tables.scss";
@import "./modals.scss";
@import "./Charts.scss";
@import "./cards.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: $whiteColor1;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
ul,
ol,
dl,
dir,
menu,
blockquote,
dd,
fieldset {
  padding: 0;
  margin: 0;
}
a:hover {
  color: $blueColor3;
}

.lot_container {
  height: 100vh;
}

.lot_content {
  position: relative;
  .lot_sticky_header {
    background-color: $whiteColor1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0.5rem 2rem;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
  }

  .lot_content_container {
    min-width: 100%;
    min-height: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;

    .lot_staff {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0px 2px 2px #3565d329;
      border: 1px solid #0074890d;
      padding: 1rem;
      border-radius: 8px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.staff_info {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 1000px;
  }
}

.not_done_page {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 20rem;
    height: 20rem;
  }
}

.active_menu {
  color: red;
}

.default_text {
  color: black;
}

.lot_history {
  min-height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 2px 2px #3565d329;
  border: 1px solid #0074890d;
  padding: 0.3rem;
  cursor: pointer;
  column-gap: 1rem;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  img {
    width: 25.57px;
    height: 20px;
  }
}

.lot_action_buttons_group {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem !important;
}

.lot_image {
  width: 100%;
  height: 100%;
  border-radius: 1000px;
  object-fit: cover;
}
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cfc8c8;
}
