@import "./colors.scss";

.ant-input {
  outline: 0 !important;
  height: 100% !important;
  border: 0 !important;
}

.ant-input::placeholder {
  font-size: 0.7125rem !important;
  color: #8692a6 !important;
}

.ant-input:focus,
.ant-input:active,
.ant-input:hover {
  // border: 1px solid $blueColor1 !important;
  outline: 0 !important;
  box-shadow: none !important;
  // border: none !important;
}

.ant-form-item-label > label.ant-form-item-required:before {
  content: unset !important;
}

.ant-form-item-required {
  color: #6a6a6a !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $blueColor1 !important;
  outline: none !important;
  border: none !important;
}

.lot_input {
  height: 2.9rem !important;
  border-radius: 8px !important;
  border: 1px solid #8692a6 !important;
  display: flex !important;
  justify-content: space-between !important;
}

.ant-select-selector,
.ant-select-open .ant-select-selector {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  width: 100% !important;
  height: 100% !important;
  outline: none !important;
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  font-size: 0.7125rem !important;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  width: 100% !important;
  height: 100% !important;
  outline: none !important;
}

.ant-input-password-icon {
  font-size: 0.7125rem !important;
  color: $blackColor1 !important;
  font-weight: 400 !important;
}

.ant-input-wrapper {
  height: 100% !important;
  outline: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
}
.ant-input-group {
  background: none !important;
  outline: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
}
.ant-btn.ant-btn-icon-only.ant-input-search-button {
  background: transparent !important;
  height: 90% !important;
  outline: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
}

.ant-input-wrapper.ant-input-group input,
.ant-input-wrapper.ant-input-group .ant-input-group-addon {
  background: none;
}

.ant-input-wrapper.ant-input-group input {
  border-bottom-left-radius: 8px !important;
  border-top-left-radius: 8px !important;
}

.ant-input-wrapper.ant-input-group .ant-input-group-addon {
  border-top-right-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
}

.ant-input-wrapper.ant-input-group:focus,
.ant-input-wrapper.ant-input-group:active,
.ant-input-wrapper.ant-input-group:hover {
  outline: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
}
