/*0*/
.lot_margin_0_top {
  margin-top: 0rem;
}

.lot_margin_0_bottom {
  margin-bottom: 0;
}

/*1*/

.lot_margin_1 {
  margin: 1rem;
}

.lot_margin_1_top {
  margin-top: 1rem;
}

.lot_margin_1_bottom {
  margin-bottom: 1rem;
}

.lot_margin_1_right {
  margin-right: 1rem;
}

.lot_margin_1_left {
  margin-left: 1rem;
}

.lot_margin_1_left_right {
  margin: 0 1rem;
}

.lot_margin_1_top_bottom {
  margin: 1rem 0;
}

/*2*/

.lot_large_margin_left_right {
  margin: 0 8rem;
}

.lot_margin_2_top {
  margin-top: 2rem;
}

.lot_margin_2_bottom {
  margin-bottom: 2rem;
}
/*3*/

.lot_margin_3_top {
  margin-top: 3rem;
}

.lot_margin_3_bottom {
  margin-bottom: 3rem;
}
