.ant-modal-content {
  box-shadow: 0px 3px 6px #64768e29;
  border-radius: 8px;
  overflow: auto;
  width: 24rem;
}

.ant-modal-header {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  border-bottom: 1px solid #64768e29 !important;
  padding: 1.5rem 0 !important;
  .ant-modal-title {
    color: $blueColor1 !important;
    font-weight: 700;
  }
}
