/*1*/

.lot_padding_1 {
  padding: 1rem;
}

.lot_padding_1_top {
  padding-top: 1rem;
}

.lot_padding_1_bottom {
  padding-bottom: 1rem;
}

.lot_padding_1_right {
  padding-right: 1rem;
}

.lot_padding_1_left {
  padding-left: 1rem;
}

.lot_padding_1_left_right {
  padding: 0 1rem;
}

.lot_padding_1_top_bottom {
  padding: 1rem 0;
}

/*large*/
.lot_padding_2 {
  padding: 2rem;
}

.lot_large_padding_left_right {
  padding: 0 5rem;
}
