@import "../styles/colors.scss";

.lot_table_title {
  color: $blueColor1;
}

.table-striped-rows tr {
  background-color: #fdfdfd !important;
  border-bottom: 3px solid #fff !important;
  box-shadow: 0px 2px 2px #3565d329 !important;
  border-radius: 8px !important;
  opacity: 1 !important;
}
.ant-table table {
  border-spacing: 0 10px !important ;
}

.lot_custom_table .ant-table-thead > tr > th {
  display: none;
}

.lot_custom_table .table-striped-rows > tr > td {
}
