@import "./variables";
@import "./colors.scss";

.lot_text_14 {
  font-size: 0.875rem;
}
.lot_text_12 {
  font-size: 0.75rem;
}
.text_16 {
  font-size: 16px;
}

.lot_uppercased_text {
  text-transform: uppercase;
}

.lot_primary_text {
  color: $blueColor1;
}

.lot_blue_text2 {
  color: #929ae0;
}

.lot_secondary_text {
  color: $blueColor2;
}

.lot_black_text {
  color: #080000;
}

.lot_cyan_text {
  color: $cyanColor;
}

.lot_white_text {
  color: $whiteColor1;
}

.lot_grey_text {
  color: #6a6a6a;
}

.lot_red_text {
  color: #ff0000;
}

.lot_big_text {
  font-size: 4.375rem;
}

.lot_medium_text {
  font-size: 2.5rem;
}

.lot_medium_title {
  font-size: 1.125rem;
}

.lot_small_text {
  font-size: 0.8125rem;
}

.lot_extra_small_text {
  font-size: 0.7rem;
}

.lot_muted_text {
  color: $greyColor9;
}

.lot_muted_text2 {
  color: #adb5ff;
}

.lot_thin_text {
  font-weight: 100;
}

.lot_extraLight_text {
  font-weight: 200;
}

.lot_light_text {
  font-weight: 300;
}

.lot_regular_text {
  font-weight: 400;
}

.lot_medium_text {
  font-weight: 500;
}

.lot_semiBold_text {
  font-weight: 600;
}

.lot_bold_text {
  font-weight: 700;
}

.lot_extraBold_text {
  font-weight: 800;
}

.lot_black_font_text {
  font-weight: 900;
}

.lot_italic_text {
  font-style: italic;
}

.lot_cursored_text {
  cursor: pointer;
}

@media (max-width: $breakpoint-small) {
  .lot_medium_text {
    font-size: 1.5rem;
  }
}

@media (max-width: $breakpoint-medium) {
  .lot_medium_text {
    font-size: 1.5rem;
  }
}
