.lot_dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  .lot_dashboard_app_container {
    flex-basis: 84vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    .lot_header {
      height: 13vh;
    }

    .lot_dashboard_body {
      display: flex;
      justify-content: space-between;
      height: 87vh;
      width: 100%;
      .lot_dashboard_pages {
        width: 80%;
        overflow: auto;
      }
    }
  }
}
