@import "../../styles/colors.scss";

.lot_navbar {
  background: $whiteColor1;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e5ff;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;

  .lot_search_input {
    flex-basis: 30rem;
  }

  .lot_navbar_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.7rem;
    img {
      width: 24px;
      height: 24px;
    }
  }
}
