@import "../../styles/colors.scss";

.lot_sidebar {
  background: #fdfeff;
  flex-basis: 16vw;
  overflow: auto;
  border-right: 1.5px solid #e8e5ff;
  position: relative;
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    height: 13vh;
    background: $whiteColor1;
    border-bottom: 1px solid #e8e5ff;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    img {
      width: 50px;
      height: 50px;
      border-radius: 10000px;
    }
    .profile_content {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
  }
  .lot_menus {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    .lot_menu {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.8rem 1rem;
      column-gap: 2rem;
      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      &:hover {
        background: $blueColor1;
        color: $whiteColor1;
        span {
          color: $cyanColor;
        }
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
      }
    }
  }
  .active {
    background: $blueColor1;
    color: $whiteColor1;
    span {
      color: $cyanColor;
    }
  }

  .lot_side_toggler {
    background: #fdfeff;
    border-right: 1.5px solid #e8e5ff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16vw;
    position: fixed;
    bottom: 0;
    left: 0;
    .toggler_menus {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 1rem;
      cursor: pointer;
      color: $blueColor1;
      .toggle_icon {
        color: $blueColor1 !important;
      }
    }
  }
}
